<div id="db_wrapper">
	<div id="db_container">
		<header>
			<div id="db_header_container" [class.db_hide]="hide">

				<div id="db_header_container_content">
					
					<div id="db_header_container_content_left">
						<img style="width: 50px; height: 50px;" src="" alt=""/>
					</div>
					<div id="db_header_container_content_right">
						<div>
							<div style="color:  white; font-size: 20px; display: block;">Hi, I'm Chris</div>
							<div style="display: block; text-align: left;" class="words">
								<span>#Creative</span>
								<span>#Developer</span>
								<span>#Problem solver</span>
								<span>#The person who fits your needs</span>
							</div>
						</div>
					</div>

				</div>
		
			</div>
		<nav>
			<a [routerLink]="['/']">
		    Home
		  </a>
		  |
			<a [routerLink]="['/about']">
		    About
		  </a>
		  |
			<a [routerLink]="['/contact']">
		    Contact
		  </a>
		</nav>
		</header>
		<main>
			<router-outlet></router-outlet>
		</main>
	</div>
	<footer>
	  © 2016
	</footer>
</div>	