<div id="db_wrapper">
	<div id="db_container">
		<header>
			<div id="db_header_container" [class.db_hide]="hide" [class.db_center_content]="show" >
				<div id="db_header_container_main">
	
					<div id="db_header_container_main_logo">
						
						<div id="db_header_container_main_logo_left">
							<img src="assets/images/test.jpg" alt=""/>
						</div>
						<div id="db_header_container_main_logo_right">
							<div id="db_header_container_main_logo_right_heading">
								<div>Hi, I'm Chris</div>
								<div class="words">
									<span>#Creative</span>
									<span>#Developer</span>
									<span>#Problem solver</span>
									<span>#Person who fits your needs</span>
								</div>
							</div>
						</div>
	
					</div>
					
				</div>
				<div id="db_header_container_social" >
					<!-- <img src="assets/images/close-envelope.svg" alt=""/>-->
					<img src="assets/images/xing-logotype.svg" alt=""/>
					<img src="assets/images/google-plus-logo.svg" alt=""/>				
				</div>
			</div>
			
		<nav>
			<a [routerLink]="['/']">
		    Home
		  </a>
		  |
			<a [routerLink]="['/about']">
		    About
		  </a>
		  |
			<a [routerLink]="['/contact']">
		    Contact
		  </a>
		</nav>
		</header>
		<main>
			<router-outlet></router-outlet>
		</main>
	</div>
	<footer>
	  © 2016
	</footer>
</div>	