#db_wrapper {
    //width: 1000px;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
	
	#db_container {
		min-height: 100%;
		margin-bottom: -100px;
		padding-left: 15px;
		padding-right: 15px;

			
		header {
			@extend .db_full;
		
			#db_header_container {
				height: 100vh; 
				width: 100%;  
				position: relative;
			}
		
			#db_header_container_main {
				text-align: center;
				display: flex;
				justify-content: center;
  				align-items: center;
			}
		
			#db_header_container_main_logo {
				height: 200px;
			}
		
			#db_header_container_main_logo_left {
				float: left;
				max-width: 200px;
				height: 100%;
				display: flex;
  				justify-content: center;
  				align-items: center;
  				
  				img {
  					max-width: 200px;
  				}
				
			}
		
			#db_header_container_main_logo_right {
				float: right;
				display: flex;
				height: 100%;
				max-width:700px;
				justify-content: center;
  				align-items: center;
			
				#db_header_container_main_logo_right_heading {
					
					div:nth-child(1) { 
						color:  black;
						font-size: 4em; 
						display: block; 
					}
				
					div:nth-child(2) { 
						color:  white;
						font-size: 1.5em; 
						display: block; 
					}
				}
				
			}
		
			#db_header_container_social {
				position: absolute;
				bottom: 0;
				right: 0;
				
				img {
					width: 30px; 
					height: 30px;
					margin: 10px;
					float: right;
					
					&:hover {
						opacity: 0.7;
						cursor: pointer;
					}
				}
			
			}

			nav {
				float: right;
				margin-right: 10px;	
			}
		}   
		
		main {
			@extend .db_full;
			margin-top: 100px;
		}
	}
	
	footer {
		@extend .db_full;
		right: 0;
		bottom: 0;
		left: 0;
		height: 100px;
		background-color: #efefef;
		
		#db_footer_container {
			text-align:center;
		}
	
		#db_footer_container_links {
		}
		#db_footer_container_legal {
			
		}
	} 
}

.db_full {
	width: 100%;
	display: inline-block;
}


.db_hide {
	display:none;
}

.db_center_content {
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.words {
	display: block;
	text-align: left;
}

.words span{
	color :black;
	position: absolute;
	opacity: 0;
	overflow: hidden;
	display: inline;
}

.words span{
	animation: rotateWords 8s linear infinite 0s;
}

.words span:nth-child(2) { 
	animation-delay: 2s; 
}
.words span:nth-child(3) { 
	animation-delay: 4s; 
}
.words span:nth-child(4) { 
	animation-delay: 6s; 
}
.words span:nth-child(5) { 
	animation-delay: 8s; 
}
.words span:nth-child(6) {  
	animation-delay: 10s; 
}

@keyframes rotateWords {
    0% { opacity:0.7; animation-timing-function: ease-in;}
    8% { opacity: 0.7;}
    12% { opacity: 0;}
	25% { opacity: 0;}
    100% { opacity: 0; }
}